convert_fc_badprec.c
convert_fc_var2.c
convert_fc_var3.c
!*.cppmd
convert_fc.c
*
mysterious.c
convert_digit_7.c
!.gitignore
!*.h
!Makefile
convert_digit_0.c
hello_world.c
!*.c
*.*
!*.cpp
convert_fc_var1.c
hello_world_err.c
